* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
i,
svg {
    pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
    width: 5em;
    height: 5rem;
    margin: 1 rem 0.5rem;
    cursor: pointer;
}
.kick-pad {
    background: rgb(196, 196, 224);
}
.snare-pad {
    background: rgb(213, 127, 235);
}
.hihat-pad {
    background: rgb(228, 150, 104);
}
.kick-pad.active {
    background:rgb(130, 130, 224);
}
.snare-pad.active {
    background:rgb(224, 82, 224);
}
.hihat-pad.active {
    background:rgb(204, 88, 21);
}
.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 5rem;
}
.kick,
.snare,
.hihat {
    display: flex;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}
.controls button {
    padding: 1rem;
    border: none;
    background: rgb(88, 87, 87);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.pad {
    transition: all 0.5s ease;
}
.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: rgb(88,88,88);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}
select {
    padding: 1rem;
    font-size: 1rem;
}

.mute.active {
    background: rgb(190, 188, 188);
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}